openapi: 3.0.0
info:
  title: Parcha Admin StartKYCAgentJob API
  version: 1.0.0
  description: API for managing Parcha jobs and checks
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
security:
- bearerAuth: []
tags:
- name: StartKYCAgentJob
paths:
  /startKYCAgentJob:
    post:
      security:
      - bearerAuth: []
      summary: Start a KYC agent job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentJobInputKYC'
      responses:
        '200':
          description: Job started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobIdResponse'
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
      tags:
      - StartKYCAgentJob
  /api/v1/startKYCAgentJob:
    post:
      summary: Start Kyc Agent Job
      description: "Run KYC Agent Job\n\nThis API endpoint starts a job from a specified agent with a command to be executed.\n\nArgs:\n    agent_input (AgentJobInputKYC: The model containing the agent key, command, the payload and if you want to run the agent in parallel.\n    agent_type (str): The type of the agent (kyb or kyc).\nReturns:\n    JobIdResponse: A response object containing the status and job ID."
      operationId: start_kyc_agent_job_api_v1_startKYCAgentJob_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobIdResponse_2'
      security:
      - HTTPBearer: []
      tags:
      - StartKYCAgentJob
components:
  schemas:
    JobIdResponse_2:
      properties:
        status:
          type: string
          title: Status
          description: The status of the job
          examples:
          - ok
        job_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Job Id
          description: The unique ID for the job
          examples:
          - job_12345
        job:
          anyOf:
          - type: object
          - type: 'null'
          title: Job
          description: The job object
          examples:
          - id: job_12345
            status: queued
        message:
          type: string
          title: Message
          description: The message related to the job status
          examples:
          - Job enqueued successfully
      type: object
      required:
      - status
      - job_id
      - job
      - message
      title: JobIdResponse
    JobIdResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - ok
          - failed
          - mock_success
        job_id:
          type: string
          nullable: true
        message:
          type: string
        job:
          type: object
          nullable: true
    AgentJobInputKYC:
      allOf:
      - $ref: '#/components/schemas/AgentJobInput'
      - type: object
        properties:
          kyc_schema:
            $ref: '#/components/schemas/ParchaKYCSchema'
    AgentJobInput:
      type: object
      required:
      - agent_key
      - payload
      properties:
        agent_key:
          type: string
          description: The unique identifier for the agent
        check_ids:
          type: array
          items:
            type: string
          description: The check IDs to run (runs all checks in agent configuration if not provided)
    KYCSelfAttestedData:
      type: object
      properties:
        first_name:
          type: string
          description: The first name of the individual
        middle_name:
          type: string
          description: The middle name of the individual
        last_name:
          type: string
          description: The last name of the individual
        name_prefix:
          type: string
          description: The prefix of the individual
        name_suffix:
          type: string
          description: The suffix of the individual
        date_of_birth:
          type: string
          format: date
          description: The date of birth of the individual, format YYYY-MM-DD
        address:
          $ref: '#/components/schemas/Address'
        associated_addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
          description: The associated addresses of the individual
        country_of_nationality:
          type: string
          description: The country of nationality of the individual
        country_of_residence:
          type: string
          description: The country of residence of the individual
        place_of_birth:
          type: string
          description: The place of birth of the individual
        sex:
          type: string
          description: The sex of the individual
        email:
          type: string
          format: email
          description: The email of the individual
        phone:
          type: string
          description: The phone number of the individual
        title:
          type: string
          description: The title of the individual
        is_applicant:
          type: boolean
          description: Whether this individual is the applicant
        is_business_owner:
          type: boolean
          description: Whether this individual is a business owner
        business_ownership_percentage:
          type: number
          description: The percentage of business ownership
        proof_of_address_documents:
          type: array
          items:
            type: object
            properties:
              b64_document:
                type: string
                description: Base64 encoded document content
              file_name:
                type: string
                description: Name of the document file
              source_type:
                type: string
                description: Source type of the document
        source_of_funds_documents:
          type: array
          items:
            type: object
            properties:
              b64_document:
                type: string
                description: Base64 encoded document content
              file_name:
                type: string
                description: Name of the document file
              source_type:
                type: string
                description: Source type of the document
    ParchaKYCSchema:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: A unique id specific to the account being analyzed
        self_attested_data:
          $ref: '#/components/schemas/KYCSelfAttestedData'
    Address:
      type: object
      properties:
        street_1:
          type: string
          description: Primary street address line
        street_2:
          type: string
          description: Secondary street address line (optional)
        city:
          type: string
          description: City name
        state:
          type: string
          description: State/province code
        country_code:
          type: string
          description: Two-letter ISO country code (e.g., "US", "GB")
        postal_code:
          type: string
          description: Postal/ZIP code
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
