openapi: 3.2.0
info:
  title: Parcha Get Job Batches API
  version: '1.0'
  description: 'Operations tagged GetJobBatches across 2 of this provider''s published API definitions: parcha-docs-openapi.yaml, parcha-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
tags:
- name: GetJobBatches
paths:
  /getJobBatches:
    get:
      security:
      - bearerAuth: []
      summary: Get job batches
      parameters:
      - name: agent_key
        in: query
        required: true
        schema:
          type: string
      - name: include_signed_urls
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Job batches retrieved successfully
        '401':
          description: Unauthorized
      tags:
      - GetJobBatches
      operationId: getGetJobBatches
      x-operation-id-source: derived
    servers:
    - url: https://api.parcha.ai/api/v1
      description: Agent Hub API server
    - url: https://demo.parcha.ai/api/v1
      description: Sandbox API server
    - url: https://us1.parcha.ai/api/v1
      description: Legacy API server
    - url: http://{your-company-domain}.parcha.ai/api/v1
      description: Custom Enterpris server (your company's API server)
  /api/v1/getJobBatches:
    get:
      summary: Get Job Batches
      description: 'Get all JobBatch records for a given agent key.


        Args:

        agent_key (str): The agent key to get batches for

        include_signed_urls (bool): Whether to include signed URLs for CSV files

        db_session: Database session


        Returns:

        List[JobBatch]: List of job batches for the agent, optionally with signed URLs for CSVs'
      operationId: get_job_batches_api_v1_getJobBatches_get
      security:
      - HTTPBearer: []
      parameters:
      - name: agent_key
        in: query
        required: true
        schema:
          type: string
          title: Agent Key
      - name: include_signed_urls
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Include Signed Urls
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - GetJobBatches
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
    HTTPBearer:
      type: http
      scheme: bearer
x-refined-from:
- parcha-docs-openapi.yaml
- parcha-openapi-original.json
