openapi: 3.0.0
info:
  title: Parcha Admin GetKybSchemasFromSource API
  version: 1.0.0
  description: API for managing Parcha jobs and checks
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
security:
- bearerAuth: []
tags:
- name: GetKybSchemasFromSource
paths:
  /getKybSchemasFromSource:
    post:
      security:
      - bearerAuth: []
      summary: Extract KYB schemas from source
      description: Process various sources and extract companies as KYB schemas without enqueueing jobs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - agent_id
              - source_type
              - source_content
              properties:
                agent_id:
                  type: string
                source_type:
                  type: string
                  enum:
                  - url
                  - base64_pdf
                  - base64_csv
                  - text
                source_content:
                  type: string
                source_name:
                  type: string
                prompt:
                  type: string
      responses:
        '200':
          description: Schemas extracted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  schemas:
                    type: array
                    items:
                      $ref: '#/components/schemas/ParchaKYBSchema'
        '400':
          description: Invalid input
        '500':
          description: Extraction failed
      tags:
      - GetKybSchemasFromSource
  /api/v1/getKybSchemasFromSource:
    post:
      summary: Get Kyb Schemas From Source Endpoint
      description: 'Process various source types (URL, base64 PDF/CSV, or text) and extract companies,

        returning a list of KYB schemas as JSON objects without enqueueing jobs.'
      operationId: get_kyb_schemas_from_source_endpoint_api_v1_getKybSchemasFromSource_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnqueueFromSourceRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - GetKybSchemasFromSource
components:
  schemas:
    ParchaKYBSchema:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: A unique id specific to the account being analyzed
        self_attested_data:
          $ref: '#/components/schemas/SelfAttestedData'
        external_validation_data:
          type: object
          description: External validation data for the business
        research_data:
          type: object
          description: Web research data for the business
        associated_individuals:
          type: array
          items:
            $ref: '#/components/schemas/ParchaKYCSchema'
          description: List of associated individuals
        associated_entities:
          type: array
          items:
            type: object
            properties:
              self_attested_data:
                type: object
                properties:
                  business_name:
                    type: string
                  business_ownership_percentage:
                    type: number
                  is_business_owner:
                    type: boolean
          description: List of associated entities
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    SelfAttestedData:
      type: object
      properties:
        business_name:
          type: string
          description: The name of the business
          maxLength: 64
        registered_business_name:
          type: string
          description: The registered name of the business
          maxLength: 64
        address_of_incorporation:
          $ref: '#/components/schemas/Address'
        address_of_operation:
          $ref: '#/components/schemas/Address'
        website:
          type: string
          description: The business website URL
        business_purpose:
          type: string
          description: The purpose of the business
        description:
          type: string
          description: Business description
          maxLength: 512
        industry:
          type: string
          description: The industry the business operates in
        tin_number:
          type: string
          description: Tax Identification Number
        incorporation_date:
          type: string
          format: date
          description: Date of incorporation
        partners:
          type: array
          items:
            type: string
          description: List of business partners
        customers:
          type: array
          items:
            type: string
          description: List of customers
        source_of_funds:
          type: array
          items:
            type: string
          description: List of funding sources
        incorporation_documents:
          type: array
          items:
            type: object
            properties:
              b64_document:
                type: string
                description: Base64 encoded document content
              file_name:
                type: string
                description: Name of the document file
              source_type:
                type: string
                description: Source type of the document
        business_ownership_documents:
          type: array
          items:
            type: object
            properties:
              b64_document:
                type: string
                description: Base64 encoded document content
              file_name:
                type: string
                description: Name of the document file
              source_type:
                type: string
                description: Source type of the document
        proof_of_address_documents:
          type: array
          items:
            type: object
            properties:
              b64_document:
                type: string
                description: Base64 encoded document content
              file_name:
                type: string
                description: Name of the document file
              source_type:
                type: string
                description: Source type of the document
        source_of_funds_documents:
          type: array
          items:
            type: object
            properties:
              b64_document:
                type: string
                description: Base64 encoded document content
              file_name:
                type: string
                description: Name of the document file
              source_type:
                type: string
                description: Source type of the document
        ein_documents:
          type: array
          items:
            type: object
            properties:
              b64_document:
                type: string
                description: Base64 encoded document content
              file_name:
                type: string
                description: Name of the document file
              source_type:
                type: string
                description: Source type of the document
        cannabis_license_documents:
          type: array
          items:
            type: object
            properties:
              b64_document:
                type: string
                description: Base64 encoded document content
              file_name:
                type: string
                description: Name of the document file
              source_type:
                type: string
                description: Source type of the document
    SourceType:
      type: string
      enum:
      - url
      - base64_pdf
      - base64_csv
      - text
      title: SourceType
      description: Types of sources for company extraction.
    KYCSelfAttestedData:
      type: object
      properties:
        first_name:
          type: string
          description: The first name of the individual
        middle_name:
          type: string
          description: The middle name of the individual
        last_name:
          type: string
          description: The last name of the individual
        name_prefix:
          type: string
          description: The prefix of the individual
        name_suffix:
          type: string
          description: The suffix of the individual
        date_of_birth:
          type: string
          format: date
          description: The date of birth of the individual, format YYYY-MM-DD
        address:
          $ref: '#/components/schemas/Address'
        associated_addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
          description: The associated addresses of the individual
        country_of_nationality:
          type: string
          description: The country of nationality of the individual
        country_of_residence:
          type: string
          description: The country of residence of the individual
        place_of_birth:
          type: string
          description: The place of birth of the individual
        sex:
          type: string
          description: The sex of the individual
        email:
          type: string
          format: email
          description: The email of the individual
        phone:
          type: string
          description: The phone number of the individual
        title:
          type: string
          description: The title of the individual
        is_applicant:
          type: boolean
          description: Whether this individual is the applicant
        is_business_owner:
          type: boolean
          description: Whether this individual is a business owner
        business_ownership_percentage:
          type: number
          description: The percentage of business ownership
        proof_of_address_documents:
          type: array
          items:
            type: object
            properties:
              b64_document:
                type: string
                description: Base64 encoded document content
              file_name:
                type: string
                description: Name of the document file
              source_type:
                type: string
                description: Source type of the document
        source_of_funds_documents:
          type: array
          items:
            type: object
            properties:
              b64_document:
                type: string
                description: Base64 encoded document content
              file_name:
                type: string
                description: Name of the document file
              source_type:
                type: string
                description: Source type of the document
    EnqueueFromSourceRequest:
      properties:
        agent_id:
          type: string
          title: Agent Id
        source_type:
          $ref: '#/components/schemas/SourceType'
        source_content:
          type: string
          title: Source Content
        source_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Source Name
          default: Unlabeled Source
        prompt:
          anyOf:
          - type: string
          - type: 'null'
          title: Prompt
      type: object
      required:
      - agent_id
      - source_type
      - source_content
      title: EnqueueFromSourceRequest
      description: Request schema for enqueue_from_source endpoint.
    ParchaKYCSchema:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: A unique id specific to the account being analyzed
        self_attested_data:
          $ref: '#/components/schemas/KYCSelfAttestedData'
    Address:
      type: object
      properties:
        street_1:
          type: string
          description: Primary street address line
        street_2:
          type: string
          description: Secondary street address line (optional)
        city:
          type: string
          description: City name
        state:
          type: string
          description: State/province code
        country_code:
          type: string
          description: Two-letter ISO country code (e.g., "US", "GB")
        postal_code:
          type: string
          description: Postal/ZIP code
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
