openapi: 3.2.0
info:
  title: Parcha Get Check Results API
  version: '1.0'
  description: 'Operations tagged GetCheckResults across 2 of this provider''s published API definitions: parcha-docs-openapi.yaml, parcha-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
tags:
- name: GetCheckResults
paths:
  /getCheckResults:
    get:
      security:
      - bearerAuth: []
      summary: Get check all results for a job
      description: Retrieve all check results for a specific job
      parameters:
      - name: job_id
        in: query
        required: true
        schema:
          type: string
        description: The ID of the job to retrieve check results for
      responses:
        '200':
          description: Check results retrieved successfully
        '401':
          description: Unauthorized
        '404':
          description: Job not found
      tags:
      - GetCheckResults
      operationId: getGetCheckResults
      x-operation-id-source: derived
    servers:
    - url: https://api.parcha.ai/api/v1
      description: Agent Hub API server
    - url: https://demo.parcha.ai/api/v1
      description: Sandbox API server
    - url: https://us1.parcha.ai/api/v1
      description: Legacy API server
    - url: http://{your-company-domain}.parcha.ai/api/v1
      description: Custom Enterpris server (your company's API server)
  /api/v1/getCheckResults:
    get:
      summary: Get Check Results
      description: 'Get Check Results


        This API endpoint retrieves the check results for a specific job.


        Args:

        jobId (str): The ID of the job to retrieve the check results for.


        Returns:

        JSONResponse: A JSON object containing the check results if found, else None.'
      operationId: get_check_results_api_v1_getCheckResults_get
      security:
      - HTTPBearer: []
      parameters:
      - name: job_id
        in: query
        required: true
        schema:
          type: string
          title: Job Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - GetCheckResults
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
    HTTPBearer:
      type: http
      scheme: bearer
x-refined-from:
- parcha-docs-openapi.yaml
- parcha-openapi-original.json
