openapi: 3.0.0
info:
  title: Parcha Admin UploadB64Document API
  version: 1.0.0
  description: API for managing Parcha jobs and checks
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
security:
- bearerAuth: []
tags:
- name: UploadB64Document
paths:
  /uploadB64Document:
    post:
      security:
      - bearerAuth: []
      summary: Upload base64 document
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadDocumentRequest'
      responses:
        '200':
          description: Document uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResponse'
        '500':
          description: Internal server error
      tags:
      - UploadB64Document
components:
  schemas:
    DocumentResponse:
      type: object
      properties:
        url:
          type: string
          description: Presigned URL for the document
        expiration:
          type: string
          format: date-time
          description: The expiration date and time (in UTC)
    UploadDocumentRequest:
      type: object
      required:
      - b64_document
      - document_name
      properties:
        b64_document:
          type: string
          description: Base64 encoded document
        document_name:
          type: string
          description: Name of the document
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
