openapi: 3.2.0
info:
  title: Parcha Generate Bulk Case Reports API
  version: '1.0'
  description: 'Operations tagged GenerateBulkCaseReports across 2 of this provider''s published API definitions: parcha-docs-openapi.yaml, parcha-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
tags:
- name: GenerateBulkCaseReports
paths:
  /generateBulkCaseReports:
    post:
      security:
      - bearerAuth: []
      summary: Generate bulk case reports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkReportRequest'
      responses:
        '200':
          description: Bulk report generation started successfully
        '401':
          description: Unauthorized
        '404':
          description: No cases found
      tags:
      - GenerateBulkCaseReports
      operationId: postGenerateBulkCaseReports
      x-operation-id-source: derived
    servers:
    - url: https://api.parcha.ai/api/v1
      description: Agent Hub API server
    - url: https://demo.parcha.ai/api/v1
      description: Sandbox API server
    - url: https://us1.parcha.ai/api/v1
      description: Legacy API server
    - url: http://{your-company-domain}.parcha.ai/api/v1
      description: Custom Enterpris server (your company's API server)
  /api/v1/generateBulkCaseReports:
    post:
      summary: Generate Bulk Case Reports
      description: 'Generate reports for all cases under an agent key and email the results


        Args:

        report_request: Request containing agent key and ZIP password'
      operationId: generate_bulk_case_reports_api_v1_generateBulkCaseReports_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkReportRequest_2'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - GenerateBulkCaseReports
components:
  schemas:
    BulkReportRequest:
      type: object
      required:
      - agent_key
      - password
      properties:
        agent_key:
          type: string
        batch_id:
          type: string
        password:
          type: string
    BulkReportRequest_2:
      properties:
        agent_key:
          type: string
          title: Agent Key
          description: Agent key to get cases for
        batch_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Batch Id
          description: Batch ID to get cases for
        password:
          type: string
          title: Password
          description: Password to protect the ZIP file
      type: object
      required:
      - agent_key
      - password
      title: BulkReportRequest
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
    HTTPBearer:
      type: http
      scheme: bearer
x-refined-from:
- parcha-docs-openapi.yaml
- parcha-openapi-original.json
