openapi: 3.2.0
info:
  title: Parcha Export CSV Batch API
  version: '1.0'
  description: 'Operations tagged ExportCSVBatch across 2 of this provider''s published API definitions: parcha-docs-openapi.yaml, parcha-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
tags:
- name: ExportCSVBatch
paths:
  /exportCSVBatch:
    get:
      security:
      - bearerAuth: []
      summary: Export CSV batch
      parameters:
      - name: batch_id
        in: query
        required: true
        schema:
          type: string
      - name: agent_key
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: CSV exported successfully
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
        '404':
          description: Batch not found
      tags:
      - ExportCSVBatch
      operationId: getExportCSVBatch
      x-operation-id-source: derived
    servers:
    - url: https://api.parcha.ai/api/v1
      description: Agent Hub API server
    - url: https://demo.parcha.ai/api/v1
      description: Sandbox API server
    - url: https://us1.parcha.ai/api/v1
      description: Legacy API server
    - url: http://{your-company-domain}.parcha.ai/api/v1
      description: Custom Enterpris server (your company's API server)
  /api/v1/exportCSVBatch:
    get:
      summary: Generate Batch Csv Export
      description: 'Generate CSV export for all cases under a batch name/id


        Args:

        batch_id: ID of the batch to export

        agent_key: Key of the agent

        Returns:

        StreamingResponse: CSV file download'
      operationId: generate_batch_csv_export_api_v1_exportCSVBatch_get
      security:
      - HTTPBearer: []
      parameters:
      - name: batch_id
        in: query
        required: true
        schema:
          type: string
          title: Batch Id
      - name: agent_key
        in: query
        required: true
        schema:
          type: string
          title: Agent Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - ExportCSVBatch
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
    HTTPBearer:
      type: http
      scheme: bearer
x-refined-from:
- parcha-docs-openapi.yaml
- parcha-openapi-original.json
