openapi: 3.0.0
info:
  title: Parcha Admin StartPublicJob API
  version: 1.0.0
  description: API for managing Parcha jobs and checks
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
security:
- bearerAuth: []
tags:
- name: StartPublicJob
paths:
  /api/v1/startPublicJob:
    post:
      summary: Start Public Bdd Job
      description: "Run KYB Agent Job, specifically our Public BDD job\n\nThis API endpoint starts a job from a specified agent with a command to be executed.\n\nArgs:\n    agent_input (AgentJobInputKYB: The model containing the agent key, command, the payload and if you want to run the agent in parallel.\n    agent_type (str): The type of the agent (kyb or kyc).\nReturns:\n    JobIdResponse: A response object containing the status and job ID."
      operationId: start_public_bdd_job_api_v1_startPublicJob_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobIdResponse'
      security:
      - HTTPBearer: []
      tags:
      - StartPublicJob
components:
  schemas:
    JobIdResponse:
      properties:
        status:
          type: string
          title: Status
          description: The status of the job
          examples:
          - ok
        job_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Job Id
          description: The unique ID for the job
          examples:
          - job_12345
        job:
          anyOf:
          - type: object
          - type: 'null'
          title: Job
          description: The job object
          examples:
          - id: job_12345
            status: queued
        message:
          type: string
          title: Message
          description: The message related to the job status
          examples:
          - Job enqueued successfully
      type: object
      required:
      - status
      - job_id
      - job
      - message
      title: JobIdResponse
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
