openapi: 3.2.0
info:
  title: Parcha Get All Sources API
  version: '1.0'
  description: 'Operations tagged GetAllSources across 2 of this provider''s published API definitions: parcha-docs-openapi.yaml, parcha-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
tags:
- name: GetAllSources
paths:
  /getAllSources:
    get:
      security:
      - bearerAuth: []
      summary: Get all sources for an agent instance
      description: Retrieve all sources (scanned websites) for a given agent instance
      parameters:
      - name: agent_instance_id
        in: query
        required: true
        schema:
          type: string
          pattern: ^[0-9a-f]{8}[-]?[0-9a-f]{4}[-]?[0-9a-f]{4}[-]?[0-9a-f]{4}[-]?[0-9a-f]{12}$
        description: The ID of the agent instance (UUID format)
      responses:
        '200':
          description: Sources retrieved successfully
        '500':
          description: Internal server error
      tags:
      - GetAllSources
      operationId: getGetAllSources
      x-operation-id-source: derived
    servers:
    - url: https://api.parcha.ai/api/v1
      description: Agent Hub API server
    - url: https://demo.parcha.ai/api/v1
      description: Sandbox API server
    - url: https://us1.parcha.ai/api/v1
      description: Legacy API server
    - url: http://{your-company-domain}.parcha.ai/api/v1
      description: Custom Enterpris server (your company's API server)
  /api/v1/getAllSources:
    get:
      summary: Get All Sources
      description: 'Get all sources for an agent instance ID


        This endpoint retrieves all sources (scanned websites) for a given agent instance.


        Args:

        agent_instance_id (str): The ID of the agent instance to retrieve sources for


        Returns:

        JSONResponse: A list of all sources with their content and analysis'
      operationId: get_all_sources_api_v1_getAllSources_get
      security:
      - HTTPBearer: []
      parameters:
      - name: agent_instance_id
        in: query
        required: true
        schema:
          type: string
          pattern: ^[0-9a-f]{8}[-]?[0-9a-f]{4}[-]?[0-9a-f]{4}[-]?[0-9a-f]{4}[-]?[0-9a-f]{12}$
          title: Agent Instance Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - GetAllSources
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
    HTTPBearer:
      type: http
      scheme: bearer
x-refined-from:
- parcha-docs-openapi.yaml
- parcha-openapi-original.json
