openapi: 3.0.0
info:
  title: Parcha Admin GetAgentJobByCaseId API
  version: 1.0.0
  description: API for managing Parcha jobs and checks
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
security:
- bearerAuth: []
tags:
- name: GetAgentJobByCaseId
paths:
  /api/v1/getAgentJobByCaseId:
    get:
      summary: Get Agent Job By Case Id Route2
      operationId: get_agent_job_by_case_id_route2_api_v1_getAgentJobByCaseId_get
      security:
      - HTTPBearer: []
      parameters:
      - name: case_id
        in: query
        required: true
        schema:
          type: string
          title: Case Id
      - name: agent_key
        in: query
        required: true
        schema:
          type: string
          title: Agent Key
      - name: include_check_results
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          default: false
          title: Include Check Results
      - name: include_status_messages
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          default: false
          title: Include Status Messages
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - GetAgentJobByCaseId
components:
  schemas:
    JobsResponse:
      properties:
        jobs:
          items:
            type: object
          type: array
          title: Jobs
          description: The list of jobs
        count:
          type: integer
          title: Count
          description: The total jobs returned count
      type: object
      required:
      - jobs
      - count
      title: JobsResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
