openapi: 3.2.0
info:
  title: Parcha Get Job Status Summary API
  version: '1.0'
  description: 'Operations tagged GetJobStatusSummary across 2 of this provider''s published API definitions: parcha-docs-openapi.yaml, parcha-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
tags:
- name: GetJobStatusSummary
paths:
  /getJobStatusSummary:
    get:
      security:
      - bearerAuth: []
      summary: Get job status summary
      description: Get a job's status and a summarized description of its progress
      parameters:
      - name: job_id
        in: query
        required: true
        schema:
          type: string
        description: The ID of the job to summarize
      responses:
        '200':
          description: Job status summary retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  summary:
                    type: string
        '400':
          description: Invalid request
        '404':
          description: Job not found
        '500':
          description: Internal server error
      tags:
      - GetJobStatusSummary
      operationId: getGetJobStatusSummary
      x-operation-id-source: derived
    servers:
    - url: https://api.parcha.ai/api/v1
      description: Agent Hub API server
    - url: https://demo.parcha.ai/api/v1
      description: Sandbox API server
    - url: https://us1.parcha.ai/api/v1
      description: Legacy API server
    - url: http://{your-company-domain}.parcha.ai/api/v1
      description: Custom Enterpris server (your company's API server)
  /api/v1/getJobStatusSummary:
    get:
      summary: Get Job Status Summary
      description: 'Get a job''s status and a summarized description of its progress generated by the StatusUpdateTool.


        Args:

        job_id: The ID of the job to summarize


        Returns:

        A JSON object containing the job status and summary'
      operationId: get_job_status_summary_api_v1_getJobStatusSummary_get
      security:
      - HTTPBearer: []
      parameters:
      - name: job_id
        in: query
        required: true
        schema:
          type: string
          title: Job Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusSummaryResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - GetJobStatusSummary
components:
  schemas:
    JobStatusSummaryResponse:
      properties:
        status:
          type: string
          title: Status
        summary:
          type: string
          title: Summary
      type: object
      required:
      - status
      - summary
      title: JobStatusSummaryResponse
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
    HTTPBearer:
      type: http
      scheme: bearer
x-refined-from:
- parcha-docs-openapi.yaml
- parcha-openapi-original.json
