openapi: 3.0.0
info:
  title: Parcha Admin SendFeedback API
  version: 1.0.0
  description: API for managing Parcha jobs and checks
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
security:
- bearerAuth: []
tags:
- name: SendFeedback
paths:
  /sendFeedback:
    post:
      security:
      - bearerAuth: []
      summary: Send feedback
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackInputBase'
      responses:
        '200':
          description: Feedback sent successfully
      tags:
      - SendFeedback
  /api/v1/sendFeedback:
    post:
      summary: Send Feedback
      operationId: send_feedback_api_v1_sendFeedback_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackInputBase_2'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - SendFeedback
components:
  schemas:
    FeedbackInputBase:
      type: object
      required:
      - jobId
      - key
      properties:
        jobId:
          type: string
          description: The ID of the job
        key:
          type: string
          description: The feedback key identifier
        comment:
          type: string
          description: Optional comment
        value:
          type: string
          description: The feedback value
        score:
          type: number
          description: Optional numeric score
        row_id:
          type: string
          description: Optional row identifier
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    FeedbackInputBase_2:
      properties:
        jobId:
          type: string
          title: Jobid
        key:
          type: string
          title: Key
        job_id:
          type: string
          format: uuid
          title: Job Id
        agent_instance_id:
          type: string
          format: uuid
          title: Agent Instance Id
        command_instance_id:
          type: string
          format: uuid
          title: Command Instance Id
        command_id:
          type: string
          title: Command Id
        agent_key:
          type: string
          title: Agent Key
        value:
          anyOf:
          - type: string
          - type: boolean
          - type: number
          - type: integer
          - type: 'null'
          title: Value
        data:
          anyOf:
          - type: object
          - type: 'null'
          title: Data
        comment:
          anyOf:
          - type: string
          - type: 'null'
          title: Comment
        score:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Score
        row_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Row Id
      type: object
      required:
      - job_id
      title: FeedbackInputBase
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
