openapi: 3.2.0
info:
  title: Parcha Enqueue From CSV API
  version: '1.0'
  description: 'Operations tagged EnqueueFromCSV across 2 of this provider''s published API definitions: parcha-docs-openapi.yaml, parcha-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
tags:
- name: EnqueueFromCSV
paths:
  /enqueueFromCSV:
    post:
      security:
      - bearerAuth: []
      summary: Enqueue jobs from CSV
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                agent_id:
                  type: string
      responses:
        '200':
          description: CSV processed successfully
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
      tags:
      - EnqueueFromCSV
      operationId: postEnqueueFromCSV
      x-operation-id-source: derived
    servers:
    - url: https://api.parcha.ai/api/v1
      description: Agent Hub API server
    - url: https://demo.parcha.ai/api/v1
      description: Sandbox API server
    - url: https://us1.parcha.ai/api/v1
      description: Legacy API server
    - url: http://{your-company-domain}.parcha.ai/api/v1
      description: Custom Enterpris server (your company's API server)
  /api/v1/enqueueFromCSV:
    post:
      summary: Enqueue From Csv
      description: Process a CSV file and enqueue jobs based on agent type.
      operationId: enqueue_from_csv_api_v1_enqueueFromCSV_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_enqueue_from_csv_api_v1_enqueueFromCSV_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - EnqueueFromCSV
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    Body_enqueue_from_csv_api_v1_enqueueFromCSV_post:
      properties:
        file:
          type: string
          format: binary
          title: File
        agent_id:
          type: string
          title: Agent Id
      type: object
      required:
      - file
      - agent_id
      title: Body_enqueue_from_csv_api_v1_enqueueFromCSV_post
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
    HTTPBearer:
      type: http
      scheme: bearer
x-refined-from:
- parcha-docs-openapi.yaml
- parcha-openapi-original.json
