openapi: 3.2.0
info:
  title: Parcha Generate Report To G Drive API
  version: '1.0'
  description: 'Operations tagged GenerateReportToGDrive across 2 of this provider''s published API definitions: parcha-docs-openapi.yaml, parcha-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
tags:
- name: GenerateReportToGDrive
paths:
  /generateReportToGDrive:
    post:
      security:
      - bearerAuth: []
      summary: Generate report to Google Drive
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportDownloadToGDriveRequest'
      responses:
        '200':
          description: Report generated successfully
        '401':
          description: Unauthorized
        '404':
          description: Report not found
      tags:
      - GenerateReportToGDrive
      operationId: postGenerateReportToGDrive
      x-operation-id-source: derived
    servers:
    - url: https://api.parcha.ai/api/v1
      description: Agent Hub API server
    - url: https://demo.parcha.ai/api/v1
      description: Sandbox API server
    - url: https://us1.parcha.ai/api/v1
      description: Legacy API server
    - url: http://{your-company-domain}.parcha.ai/api/v1
      description: Custom Enterpris server (your company's API server)
  /api/v1/generateReportToGDrive:
    post:
      summary: Generate Report To Gdrive
      description: 'Download a report for a specific case and agent, saving it to Google Drive.


        Args:

        report_request: Request containing case_id, agent_key, job_id, and drive_url

        Returns:

        JSONResponse: Success status and Google Drive URL or error message'
      operationId: generate_report_to_gdrive_api_v1_generateReportToGDrive_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportDownloadToGDriveRequest_2'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - GenerateReportToGDrive
components:
  schemas:
    ReportDownloadToGDriveRequest:
      type: object
      required:
      - job_id
      properties:
        job_id:
          type: string
    ReportDownloadToGDriveRequest_2:
      properties:
        job_id:
          type: string
          title: Job Id
      type: object
      required:
      - job_id
      title: ReportDownloadToGDriveRequest
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
    HTTPBearer:
      type: http
      scheme: bearer
x-refined-from:
- parcha-docs-openapi.yaml
- parcha-openapi-original.json
