openapi: 3.0.0
info:
  title: Parcha Admin Dojo API
  version: 1.0.0
  description: API for managing Parcha jobs and checks
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
security:
- bearerAuth: []
tags:
- name: Dojo
paths:
  /api/v1/dojo/training-data:
    get:
      summary: Get Dojo Training Data
      description: Get training data (jobs) for DOJO training. Requires Parcha Admin or DOJO service key.
      operationId: get_dojo_training_data_api_v1_dojo_training_data_get
      security:
      - HTTPBearer: []
      parameters:
      - name: agent_key
        in: query
        required: true
        schema:
          type: string
          description: The agent key to fetch training data for
          title: Agent Key
        description: The agent key to fetch training data for
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 1000
          minimum: 1
          description: Maximum number of samples to return
          default: 100
          title: Limit
        description: Maximum number of samples to return
      - name: feedback_only
        in: query
        required: false
        schema:
          type: boolean
          description: Only include jobs with feedback
          default: true
          title: Feedback Only
        description: Only include jobs with feedback
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Dojo
  /api/v1/dojo/job-history:
    get:
      summary: Get Dojo Job History
      description: Get job history for DOJO training evaluation. Requires Parcha Admin or DOJO service key.
      operationId: get_dojo_job_history_api_v1_dojo_job_history_get
      security:
      - HTTPBearer: []
      parameters:
      - name: agent_key
        in: query
        required: true
        schema:
          type: string
          description: The agent key to fetch job history for
          title: Agent Key
        description: The agent key to fetch job history for
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 500
          minimum: 1
          description: Maximum number of jobs to return
          default: 100
          title: Limit
        description: Maximum number of jobs to return
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by job status (e.g. 'complete', 'in progress')
          title: Status
        description: Filter by job status (e.g. 'complete', 'in progress')
      - name: include_check_results
        in: query
        required: false
        schema:
          type: boolean
          description: Include detailed check results
          default: false
          title: Include Check Results
        description: Include detailed check results
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Dojo
  /api/v1/dojo/agent-config/{agent_key}:
    get:
      summary: Get Dojo Agent Config
      description: 'Get normalised agent config for DOJO template creation.


        Returns the agent''s steps with tool_args and data_loader_args,

        which DOJO uses to generate follow_up_context for research templates.

        Requires Parcha Admin or DOJO service key.'
      operationId: get_dojo_agent_config_api_v1_dojo_agent_config__agent_key__get
      security:
      - HTTPBearer: []
      parameters:
      - name: agent_key
        in: path
        required: true
        schema:
          type: string
          title: Agent Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Dojo
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
