openapi: 3.2.0
info:
  title: Parcha Map CSV Columns API
  version: '1.0'
  description: 'Operations tagged MapCsvColumns across 2 of this provider''s published API definitions: parcha-docs-openapi.yaml, parcha-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
tags:
- name: MapCsvColumns
paths:
  /mapCsvColumns:
    post:
      security:
      - bearerAuth: []
      summary: Map CSV columns to schema fields
      description: Use AI to intelligently map CSV column names to supported KYC/KYB schema fields
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - agent_type
              - csv_columns
              properties:
                agent_type:
                  type: string
                  enum:
                  - kyc
                  - kyb
                  description: The type of agent (kyc or kyb)
                csv_columns:
                  type: array
                  items:
                    type: string
                  description: List of column names from the CSV file
                sample_data:
                  type: array
                  items:
                    type: object
                  description: Sample rows from the CSV for context
      responses:
        '200':
          description: CSV columns mapped successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  mappings:
                    type: array
                    items:
                      type: object
                  unmapped_columns:
                    type: array
                    items:
                      type: string
        '400':
          description: Invalid input
        '500':
          description: Mapping failed
      tags:
      - MapCsvColumns
      operationId: postMapCsvColumns
      x-operation-id-source: derived
    servers:
    - url: https://api.parcha.ai/api/v1
      description: Agent Hub API server
    - url: https://demo.parcha.ai/api/v1
      description: Sandbox API server
    - url: https://us1.parcha.ai/api/v1
      description: Legacy API server
    - url: http://{your-company-domain}.parcha.ai/api/v1
      description: Custom Enterpris server (your company's API server)
  /api/v1/mapCsvColumns:
    post:
      summary: Map Csv Columns
      description: 'Map CSV column names to supported schema fields using AI.


        This endpoint uses an LLM to intelligently map CSV column names to our

        supported KYC/KYB schema fields, handling variations and common patterns.'
      operationId: map_csv_columns_api_v1_mapCsvColumns_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CsvColumnMappingRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - MapCsvColumns
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    CsvColumnMappingRequest:
      properties:
        agent_type:
          type: string
          enum:
          - kyc
          - kyb
          title: Agent Type
          description: The type of agent (kyc or kyb)
        csv_columns:
          items:
            type: string
          type: array
          minItems: 1
          title: Csv Columns
          description: List of column names from the CSV file
        sample_data:
          anyOf:
          - items:
              additionalProperties:
                type: string
              type: object
            type: array
          - type: 'null'
          title: Sample Data
          description: Sample rows from the CSV for context
      type: object
      required:
      - agent_type
      - csv_columns
      title: CsvColumnMappingRequest
      description: Request schema for CSV column mapping endpoint.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
    HTTPBearer:
      type: http
      scheme: bearer
x-refined-from:
- parcha-docs-openapi.yaml
- parcha-openapi-original.json
