openapi: 3.0.0
info:
  title: Parcha Admin EnqueueFromSource API
  version: 1.0.0
  description: API for managing Parcha jobs and checks
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
security:
- bearerAuth: []
tags:
- name: EnqueueFromSource
paths:
  /enqueueFromSource:
    post:
      security:
      - bearerAuth: []
      summary: Enqueue jobs from various sources
      description: Process URL, PDF, CSV, or text to extract companies and enqueue as KYB jobs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - agent_id
              - source_type
              - source_content
              properties:
                agent_id:
                  type: string
                source_type:
                  type: string
                  enum:
                  - url
                  - base64_pdf
                  - base64_csv
                  - text
                source_content:
                  type: string
                source_name:
                  type: string
                  default: Unlabeled Source
                prompt:
                  type: string
      responses:
        '200':
          description: Source processing started successfully
        '400':
          description: Invalid input
        '500':
          description: Processing failed
      tags:
      - EnqueueFromSource
  /api/v1/enqueueFromSource:
    post:
      summary: Enqueue From Source
      description: 'Process various source types (URL, base64 PDF/CSV, or text) and extract companies

        to enqueue as KYB jobs.'
      operationId: enqueue_from_source_api_v1_enqueueFromSource_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnqueueFromSourceRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - EnqueueFromSource
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    EnqueueFromSourceRequest:
      properties:
        agent_id:
          type: string
          title: Agent Id
        source_type:
          $ref: '#/components/schemas/SourceType'
        source_content:
          type: string
          title: Source Content
        source_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Source Name
          default: Unlabeled Source
        prompt:
          anyOf:
          - type: string
          - type: 'null'
          title: Prompt
      type: object
      required:
      - agent_id
      - source_type
      - source_content
      title: EnqueueFromSourceRequest
      description: Request schema for enqueue_from_source endpoint.
    SourceType:
      type: string
      enum:
      - url
      - base64_pdf
      - base64_csv
      - text
      title: SourceType
      description: Types of sources for company extraction.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
