openapi: 3.0.0
info:
  title: Parcha Admin GetAllSources API
  version: 1.0.0
  description: API for managing Parcha jobs and checks
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
security:
- bearerAuth: []
tags:
- name: GetAllSources
paths:
  /getAllSources:
    get:
      security:
      - bearerAuth: []
      summary: Get all sources for an agent instance
      description: Retrieve all sources (scanned websites) for a given agent instance
      parameters:
      - name: agent_instance_id
        in: query
        required: true
        schema:
          type: string
          pattern: ^[0-9a-f]{8}[-]?[0-9a-f]{4}[-]?[0-9a-f]{4}[-]?[0-9a-f]{4}[-]?[0-9a-f]{12}$
        description: The ID of the agent instance (UUID format)
      responses:
        '200':
          description: Sources retrieved successfully
        '500':
          description: Internal server error
      tags:
      - GetAllSources
  /api/v1/getAllSources:
    get:
      summary: Get All Sources
      description: "Get all sources for an agent instance ID\n\nThis endpoint retrieves all sources (scanned websites) for a given agent instance.\n\nArgs:\n    agent_instance_id (str): The ID of the agent instance to retrieve sources for\n\nReturns:\n    JSONResponse: A list of all sources with their content and analysis"
      operationId: get_all_sources_api_v1_getAllSources_get
      security:
      - HTTPBearer: []
      parameters:
      - name: agent_instance_id
        in: query
        required: true
        schema:
          type: string
          pattern: ^[0-9a-f]{8}[-]?[0-9a-f]{4}[-]?[0-9a-f]{4}[-]?[0-9a-f]{4}[-]?[0-9a-f]{12}$
          title: Agent Instance Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - GetAllSources
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
