openapi: 3.2.0
info:
  title: Parcha Get Job Metadata By Job ID API
  version: '1.0'
  description: 'Operations tagged GetJobMetadataByJobId across 2 of this provider''s published API definitions: parcha-docs-openapi.yaml, parcha-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
tags:
- name: GetJobMetadataByJobId
paths:
  /getJobMetadataByJobId:
    get:
      security:
      - bearerAuth: []
      summary: Get job metadata by job ID
      description: Retrieve comprehensive metadata for a job by its ID
      parameters:
      - name: job_id
        in: query
        required: true
        schema:
          type: string
        description: The ID of the job
      responses:
        '200':
          description: Job metadata retrieved successfully
        '401':
          description: Unauthorized
        '404':
          description: Job not found
      tags:
      - GetJobMetadataByJobId
      operationId: getGetJobMetadataByJobId
      x-operation-id-source: derived
    servers:
    - url: https://api.parcha.ai/api/v1
      description: Agent Hub API server
    - url: https://demo.parcha.ai/api/v1
      description: Sandbox API server
    - url: https://us1.parcha.ai/api/v1
      description: Legacy API server
    - url: http://{your-company-domain}.parcha.ai/api/v1
      description: Custom Enterpris server (your company's API server)
  /api/v1/getJobMetadataByJobId:
    get:
      summary: Get Job Metadata By Job Id
      operationId: get_job_metadata_by_job_id_api_v1_getJobMetadataByJobId_get
      security:
      - HTTPBearer: []
      parameters:
      - name: job_id
        in: query
        required: true
        schema:
          type: string
          title: Job Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - GetJobMetadataByJobId
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
    HTTPBearer:
      type: http
      scheme: bearer
x-refined-from:
- parcha-docs-openapi.yaml
- parcha-openapi-original.json
