openapi: 3.0.0
info:
  title: Parcha Admin GetJobById API
  version: 1.0.0
  description: API for managing Parcha jobs and checks
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
security:
- bearerAuth: []
tags:
- name: GetJobById
paths:
  /getJobById:
    get:
      security:
      - bearerAuth: []
      summary: Get job by ID
      parameters:
      - name: job_id
        in: query
        required: true
        schema:
          type: string
      - name: include_check_result_ids
        in: query
        schema:
          type: boolean
      - name: include_check_results
        in: query
        schema:
          type: boolean
      - name: include_status_messages
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Job retrieved successfully
        '404':
          description: Job not found
        '401':
          description: Unauthorized
      tags:
      - GetJobById
  /api/v1/getJobById:
    get:
      summary: Get Job By Id
      description: "Get Job by ID\n\nThis API endpoint retrieves a job by its ID.\n\nArgs:\n    jobId (str): The ID of the job to retrieve.\n\nReturns:\n    JSONResponse: A JSON object containing the job details if found, else None."
      operationId: get_job_by_id_api_v1_getJobById_get
      security:
      - HTTPBearer: []
      parameters:
      - name: job_id
        in: query
        required: true
        schema:
          type: string
          title: Job Id
      - name: include_check_result_ids
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          default: false
          title: Include Check Result Ids
      - name: include_check_results
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          default: false
          title: Include Check Results
      - name: include_status_messages
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          default: false
          title: Include Status Messages
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - GetJobById
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
