openapi: 3.0.0
info:
  title: Parcha Admin TriggerWebhook API
  version: 1.0.0
  description: API for managing Parcha jobs and checks
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
security:
- bearerAuth: []
tags:
- name: TriggerWebhook
paths:
  /api/v1/triggerWebhook:
    post:
      summary: Trigger Webhook
      description: Manually trigger a webhook for a job with optional URL override
      operationId: trigger_webhook_api_v1_triggerWebhook_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_trigger_webhook_api_v1_triggerWebhook_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - TriggerWebhook
components:
  schemas:
    Body_trigger_webhook_api_v1_triggerWebhook_post:
      properties:
        job_id:
          type: string
          title: Job Id
        webhook_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Webhook Url
      type: object
      required:
      - job_id
      title: Body_trigger_webhook_api_v1_triggerWebhook_post
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
