openapi: 3.0.0
info:
  title: Parcha Admin GetSourceContents API
  version: 1.0.0
  description: API for managing Parcha jobs and checks
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
security:
- bearerAuth: []
tags:
- name: GetSourceContents
paths:
  /getSourceContents:
    get:
      security:
      - bearerAuth: []
      summary: Get source contents
      description: Retrieve content for specific source IDs
      parameters:
      - name: source_ids
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
        description: List of source IDs to retrieve
      - name: agent_instance_id
        in: query
        required: true
        schema:
          type: string
        description: The agent instance ID
      responses:
        '200':
          description: Source contents retrieved successfully
        '500':
          description: Internal server error
      tags:
      - GetSourceContents
  /api/v1/getSourceContents:
    get:
      summary: Fetch Source Contents
      operationId: fetch_source_contents_api_v1_getSourceContents_get
      security:
      - HTTPBearer: []
      parameters:
      - name: source_ids
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
          title: Source Ids
      - name: agent_instance_id
        in: query
        required: true
        schema:
          type: string
          title: Agent Instance Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - GetSourceContents
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
