openapi: 3.0.0
info:
  title: Parcha Admin GetCheckInfo API
  version: 1.0.0
  description: API for managing Parcha jobs and checks
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
security:
- bearerAuth: []
tags:
- name: GetCheckInfo
paths:
  /getCheckInfo:
    get:
      security:
      - bearerAuth: []
      summary: Get check information
      description: Retrieve detailed information about a specific check
      parameters:
      - name: check_id
        in: query
        required: true
        schema:
          type: string
        description: The ID of the check
      responses:
        '200':
          description: Check information retrieved successfully
      tags:
      - GetCheckInfo
  /api/v1/getCheckInfo:
    get:
      summary: Get Check Info
      operationId: get_check_info_api_v1_getCheckInfo_get
      security:
      - HTTPBearer: []
      parameters:
      - name: check_id
        in: query
        required: true
        schema:
          type: string
          title: Check Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - GetCheckInfo
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
