openapi: 3.2.0
info:
  title: Parcha Run Check API
  version: '1.0'
  description: 'Operations tagged RunCheck across 2 of this provider''s published API definitions: parcha-docs-openapi.yaml, parcha-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
tags:
- name: RunCheck
paths:
  /runCheck:
    post:
      security:
      - bearerAuth: []
      summary: Run a check
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckJobInput'
      responses:
        '200':
          description: Check started successfully
        '401':
          description: Unauthorized
      tags:
      - RunCheck
      operationId: postRunCheck
      x-operation-id-source: derived
    servers:
    - url: https://api.parcha.ai/api/v1
      description: Agent Hub API server
    - url: https://demo.parcha.ai/api/v1
      description: Sandbox API server
    - url: https://us1.parcha.ai/api/v1
      description: Legacy API server
    - url: http://{your-company-domain}.parcha.ai/api/v1
      description: Custom Enterpris server (your company's API server)
  /api/v1/runCheck:
    post:
      summary: Run Check
      operationId: run_check_api_v1_runCheck_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
      tags:
      - RunCheck
components:
  schemas:
    CheckJobInput:
      type: object
      required:
      - agent_key
      - check_id
      - case_id
      - case_type
      properties:
        agent_key:
          type: string
          description: The unique identifier for the agent
        check_id:
          type: string
          description: The ID of the check to run
        case_id:
          type: string
          description: The ID of the case
        case_type:
          type: string
          enum:
          - kyb
          - kyc
          - entity
          description: The type of case
        check_args:
          type: object
          description: Additional arguments for the check
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
    HTTPBearer:
      type: http
      scheme: bearer
x-refined-from:
- parcha-docs-openapi.yaml
- parcha-openapi-original.json
