openapi: 3.0.0
info:
  title: Parcha Admin GetCheckResultFromJob API
  version: 1.0.0
  description: API for managing Parcha jobs and checks
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
security:
- bearerAuth: []
tags:
- name: GetCheckResultFromJob
paths:
  /getCheckResultFromJob:
    get:
      security:
      - bearerAuth: []
      summary: Get a specific check result from job
      description: Retrieve the result of a specific check from a job
      parameters:
      - name: job_id
        in: query
        required: true
        schema:
          type: string
        description: The unique identifier of the job
      - name: agent_instance_id
        in: query
        required: true
        schema:
          type: string
        description: The unique identifier of the agent instance
      - name: check_id
        in: query
        required: true
        schema:
          type: string
        description: The unique identifier of the check
      - name: case_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - kyb
          - kyc
          - entity
        description: The type of the case
      - name: include_status_messages
        in: query
        schema:
          type: boolean
          default: true
        description: Whether to include status messages in the response
      responses:
        '200':
          description: Check result retrieved successfully
        '404':
          description: Job or check result not found
        '403':
          description: Unauthorized access to agent
        '500':
          description: Internal server error
      tags:
      - GetCheckResultFromJob
  /api/v1/getCheckResultFromJob:
    get:
      summary: Get Business Profile
      operationId: get_business_profile_api_v1_getCheckResultFromJob_get
      security:
      - HTTPBearer: []
      parameters:
      - name: job_id
        in: query
        required: true
        schema:
          type: string
          title: Job Id
      - name: agent_instance_id
        in: query
        required: true
        schema:
          type: string
          title: Agent Instance Id
      - name: check_id
        in: query
        required: true
        schema:
          type: string
          title: Check Id
      - name: case_type
        in: query
        required: true
        schema:
          type: string
          title: Case Type
      - name: include_status_messages
        in: query
        required: false
        schema:
          type: boolean
          default: true
          title: Include Status Messages
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - GetCheckResultFromJob
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
