openapi: 3.0.0
info:
  title: Parcha Admin Form API
  version: 1.0.0
  description: API for managing Parcha jobs and checks
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
security:
- bearerAuth: []
tags:
- name: Form
paths:
  /form/{link_token}:
    get:
      summary: Get Public Form
      description: 'Get a form template by link token (public access).


        This endpoint does not require authentication and is used to display

        forms to customers who receive shareable links.'
      operationId: get_public_form_form__link_token__get
      parameters:
      - name: link_token
        in: path
        required: true
        schema:
          type: string
          title: Link Token
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Form
  /form/{link_token}/submit:
    post:
      summary: Submit Public Form
      description: 'Submit a form (public access).


        This endpoint does not require authentication and allows customers

        to submit form data via shareable links.


        Required fields in request body:

        - data: Form field data (nested dict matching form schema)

        - submitter_email: Email address of the person submitting the form (required)'
      operationId: submit_public_form_form__link_token__submit_post
      parameters:
      - name: link_token
        in: path
        required: true
        schema:
          type: string
          title: Link Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_submit_public_form_form__link_token__submit_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Form
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    Body_submit_public_form_form__link_token__submit_post:
      properties:
        data:
          type: object
          title: Data
        submitter_email:
          type: string
          title: Submitter Email
      type: object
      required:
      - data
      - submitter_email
      title: Body_submit_public_form_form__link_token__submit_post
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
