openapi: 3.0.0
info:
  title: Parcha Admin TestWebhook API
  version: 1.0.0
  description: API for managing Parcha jobs and checks
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
security:
- bearerAuth: []
tags:
- name: TestWebhook
paths:
  /testWebhook:
    post:
      security:
      - bearerAuth: []
      summary: Test webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestWebhookInput'
      responses:
        '200':
          description: Webhook test successful
        '400':
          description: Invalid input
      tags:
      - TestWebhook
  /api/v1/testWebhook:
    post:
      summary: Test Webhook
      operationId: test_webhook_api_v1_testWebhook_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestWebhookInput_2'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - TestWebhook
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    TestWebhookInput:
      type: object
      properties:
        webhook_url:
          type: string
        tool_webhook_url:
          type: string
        tool_webhook_ids:
          type: array
          items:
            type: string
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    TestWebhookInput_2:
      properties:
        webhook_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Webhook Url
          description: The URL to send the test webhook to
        tool_webhook_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Tool Webhook Url
          description: The URL to send the test webhook to
        tool_webhook_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Tool Webhook Ids
          description: The tool IDs to send the test webhook to
      type: object
      title: TestWebhookInput
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
