openapi: 3.0.0
info:
  title: Parcha Admin GetThinking API
  version: 1.0.0
  description: API for managing Parcha jobs and checks
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
security:
- bearerAuth: []
tags:
- name: GetThinking
paths:
  /getThinking:
    get:
      security:
      - bearerAuth: []
      summary: Get thinking for a command instance
      description: Retrieve the thinking/reasoning for a specific command instance
      parameters:
      - name: command_instance_id
        in: query
        required: true
        schema:
          type: string
        description: The ID of the command instance
      responses:
        '200':
          description: Thinking retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  thinking:
                    type: string
      tags:
      - GetThinking
  /api/v1/getThinking:
    get:
      summary: Get Thinking
      description: "Get thinking for a command instance.\n\nArgs:\n    command_instance_id (str): The ID of the command instance to get thinking for.\n\nReturns:\n    JSONResponse: A JSON object containing the thinking if found, else None."
      operationId: get_thinking_api_v1_getThinking_get
      security:
      - HTTPBearer: []
      parameters:
      - name: command_instance_id
        in: query
        required: true
        schema:
          type: string
          title: Command Instance Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - GetThinking
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
