openapi: 3.2.0
info:
  title: Parcha Update Application Status API
  version: '1.0'
  description: 'Operations tagged UpdateApplicationStatus across 2 of this provider''s published API definitions: parcha-docs-openapi.yaml, parcha-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
tags:
- name: UpdateApplicationStatus
paths:
  /updateApplicationStatus:
    post:
      security:
      - bearerAuth: []
      summary: Update application status
      description: Update the status of an application
      parameters:
      - name: application_id
        in: query
        required: true
        schema:
          type: string
        description: The ID of the application
      - name: status
        in: query
        required: true
        schema:
          type: string
          enum:
          - PENDING
          - IN_PROGRESS
          - COMPLETE
          - ERROR
        description: The new status
      responses:
        '200':
          description: Application status updated successfully
      tags:
      - UpdateApplicationStatus
      operationId: postUpdateApplicationStatus
      x-operation-id-source: derived
    servers:
    - url: https://api.parcha.ai/api/v1
      description: Agent Hub API server
    - url: https://demo.parcha.ai/api/v1
      description: Sandbox API server
    - url: https://us1.parcha.ai/api/v1
      description: Legacy API server
    - url: http://{your-company-domain}.parcha.ai/api/v1
      description: Custom Enterpris server (your company's API server)
  /api/v1/updateApplicationStatus:
    post:
      summary: Update Application Status
      description: 'Update Application Status


        This API endpoint updates the status of an application.


        Args:

        application_id (str): The ID of the application to update the status for.

        status (ApplicationStatus): The new status to set for the application, must be an enum value.


        Returns:

        JSONResponse: A JSON object containing the updated application state if found, else None.'
      operationId: update_application_status_api_v1_updateApplicationStatus_post
      security:
      - HTTPBearer: []
      parameters:
      - name: application_id
        in: query
        required: true
        schema:
          type: string
          title: Application Id
      - name: status
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/ApplicationStatus'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - UpdateApplicationStatus
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ApplicationStatus:
      type: string
      enum:
      - draft
      - pending
      - submitted
      - reviewed
      - deleted
      title: ApplicationStatus
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
    HTTPBearer:
      type: http
      scheme: bearer
x-refined-from:
- parcha-docs-openapi.yaml
- parcha-openapi-original.json
