openapi: 3.2.0
info:
  title: Parcha Enrich Company API
  version: '1.0'
  description: 'Operations tagged EnrichCompany across 2 of this provider''s published API definitions: parcha-docs-openapi.yaml, parcha-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
tags:
- name: EnrichCompany
paths:
  /enrichCompany:
    post:
      security:
      - bearerAuth: []
      summary: Enrich company data
      description: Enrich company data using People Data Labs API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                website:
                  type: string
                ticker:
                  type: string
                profile:
                  type: string
      responses:
        '200':
          description: Company enrichment successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - success
                    - error
                    - not_found
                  data:
                    type: object
                  error:
                    type: string
                  source:
                    type: string
        '500':
          description: Enrichment failed
      tags:
      - EnrichCompany
      operationId: postEnrichCompany
      x-operation-id-source: derived
    servers:
    - url: https://api.parcha.ai/api/v1
      description: Agent Hub API server
    - url: https://demo.parcha.ai/api/v1
      description: Sandbox API server
    - url: https://us1.parcha.ai/api/v1
      description: Legacy API server
    - url: http://{your-company-domain}.parcha.ai/api/v1
      description: Custom Enterpris server (your company's API server)
  /api/v1/enrichCompany:
    post:
      summary: Enrich Company
      description: 'Enrich Company Data


        This endpoint enriches company data using the People Data Labs (PDL) API.

        It takes a company name, website, ticker, or profile URL and returns enriched

        company information including industry, size, location, social profiles, etc.


        Args:

        enrichment_request: Request containing company identifiers


        Returns:

        CompanyEnrichmentResponse: Enriched company data or error information'
      operationId: enrich_company_api_v1_enrichCompany_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyEnrichmentRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyEnrichmentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - EnrichCompany
components:
  schemas:
    CompanyEnrichmentRequest:
      properties:
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: Company name
        website:
          anyOf:
          - type: string
          - type: 'null'
          title: Website
          description: Company website URL
        ticker:
          anyOf:
          - type: string
          - type: 'null'
          title: Ticker
          description: Stock ticker symbol
        profile:
          anyOf:
          - type: string
          - type: 'null'
          title: Profile
          description: Social profile URL (e.g., LinkedIn company page)
      type: object
      title: CompanyEnrichmentRequest
      description: Request model for company enrichment
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    CompanyEnrichmentResponse:
      properties:
        status:
          type: string
          title: Status
          description: Status of the enrichment request (success, error, not_found)
        data:
          anyOf:
          - type: object
          - type: 'null'
          title: Data
          description: Enriched company data from PDL
        error:
          anyOf:
          - type: string
          - type: 'null'
          title: Error
          description: Error message if enrichment failed
        source:
          type: string
          title: Source
          description: Data source used for enrichment
          default: PeopleDataLabs
      type: object
      required:
      - status
      title: CompanyEnrichmentResponse
      description: Response model for company enrichment
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
    HTTPBearer:
      type: http
      scheme: bearer
x-refined-from:
- parcha-docs-openapi.yaml
- parcha-openapi-original.json
