openapi: 3.2.0
info:
  title: Parcha Test Webhook Receiver API
  version: '1.0'
  description: 'Operations tagged TestWebhookReceiver across 2 of this provider''s published API definitions: parcha-docs-openapi.yaml, parcha-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
tags:
- name: TestWebhookReceiver
paths:
  /testWebhookReceiver:
    post:
      security:
      - bearerAuth: []
      summary: Test webhook receiver
      responses:
        '200':
          description: Webhook received and signature verified
        '400':
          description: Invalid request
        '401':
          description: Invalid signature
      tags:
      - TestWebhookReceiver
      operationId: postTestWebhookReceiver
      x-operation-id-source: derived
    servers:
    - url: https://api.parcha.ai/api/v1
      description: Agent Hub API server
    - url: https://demo.parcha.ai/api/v1
      description: Sandbox API server
    - url: https://us1.parcha.ai/api/v1
      description: Legacy API server
    - url: http://{your-company-domain}.parcha.ai/api/v1
      description: Custom Enterpris server (your company's API server)
  /api/v1/testWebhookReceiver:
    post:
      summary: Webhook Receiver
      operationId: webhook_receiver_api_v1_testWebhookReceiver_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
      tags:
      - TestWebhookReceiver
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
    HTTPBearer:
      type: http
      scheme: bearer
x-refined-from:
- parcha-docs-openapi.yaml
- parcha-openapi-original.json
