openapi: 3.2.0
info:
  title: Parcha Get Batch Jobs API
  version: '1.0'
  description: 'Operations tagged GetBatchJobs across 2 of this provider''s published API definitions: parcha-docs-openapi.yaml, parcha-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
tags:
- name: GetBatchJobs
paths:
  /getBatchJobs:
    get:
      security:
      - bearerAuth: []
      summary: Get batch jobs
      parameters:
      - name: batch_id
        in: query
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          default: 100
      - name: fetch_pdf_from_gcs
        in: query
        schema:
          type: boolean
      - name: status
        in: query
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Batch jobs retrieved successfully
        '401':
          description: Unauthorized
        '404':
          description: Batch not found
      tags:
      - GetBatchJobs
      operationId: getGetBatchJobs
      x-operation-id-source: derived
    servers:
    - url: https://api.parcha.ai/api/v1
      description: Agent Hub API server
    - url: https://demo.parcha.ai/api/v1
      description: Sandbox API server
    - url: https://us1.parcha.ai/api/v1
      description: Legacy API server
    - url: http://{your-company-domain}.parcha.ai/api/v1
      description: Custom Enterpris server (your company's API server)
  /api/v1/getBatchJobs:
    get:
      summary: Get Batch Jobs
      description: 'Get batch data for jobs in a batch with cursor-based pagination.


        Args:

        status: Optional list of statuses to filter by. Valid values are: submitted, queued, in progress,

        complete, error, failed, deleted, retried'
      operationId: get_batch_jobs_api_v1_getBatchJobs_get
      security:
      - HTTPBearer: []
      parameters:
      - name: batch_id
        in: query
        required: true
        schema:
          type: string
          title: Batch Id
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Cursor
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      - name: fetch_pdf_from_gcs
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Fetch Pdf From Gcs
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: 'Filter by job statuses. Example: status=complete'
          title: Status
        description: 'Filter by job statuses. Example: status=complete'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                title: Response Get Batch Jobs Api V1 Getbatchjobs Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - GetBatchJobs
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
    HTTPBearer:
      type: http
      scheme: bearer
x-refined-from:
- parcha-docs-openapi.yaml
- parcha-openapi-original.json
