openapi: 3.0.0
info:
  title: Parcha Admin Admin - Scraper Testing API
  version: 1.0.0
  description: API for managing Parcha jobs and checks
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
security:
- bearerAuth: []
tags:
- name: Admin - Scraper Testing
paths:
  /admin/scraper/list-scrapers:
    get:
      tags:
      - Admin - Scraper Testing
      summary: List Available Scrapers
      operationId: list_available_scrapers_admin_scraper_list_scrapers_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ScraperInfo'
                type: array
                title: Response List Available Scrapers Admin Scraper List Scrapers Get
  /admin/scraper/test-all:
    post:
      tags:
      - Admin - Scraper Testing
      summary: Run All Scraper Tests
      operationId: run_all_scraper_tests_admin_scraper_test_all_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScraperTestAllResponse'
  /admin/scraper/test-one:
    post:
      tags:
      - Admin - Scraper Testing
      summary: Run One Scraper Test
      operationId: run_one_scraper_test_admin_scraper_test_one_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScraperTestOneRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScraperTestOneResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ScraperTestOneResponse:
      properties:
        handler:
          type: string
          title: Handler
        status:
          type: string
          title: Status
        duration_s:
          type: number
          title: Duration S
        payload:
          anyOf:
          - type: object
          - type: 'null'
          title: Payload
        error:
          anyOf:
          - type: string
          - type: 'null'
          title: Error
      type: object
      required:
      - handler
      - status
      - duration_s
      title: ScraperTestOneResponse
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ScraperTestAllResponse:
      properties:
        results:
          items:
            $ref: '#/components/schemas/ScraperTestResult'
          type: array
          title: Results
      type: object
      required:
      - results
      title: ScraperTestAllResponse
    ScraperTestOneRequest:
      properties:
        url:
          type: string
          title: Url
          description: URL to test with a specific scraper
      type: object
      required:
      - url
      title: ScraperTestOneRequest
    ScraperInfo:
      properties:
        id:
          type: string
          title: Id
        name:
          type: string
          title: Name
        type:
          type: string
          enum:
          - apify
          - scrapin
          title: Type
        url_pattern:
          type: string
          title: Url Pattern
      type: object
      required:
      - id
      - name
      - type
      - url_pattern
      title: ScraperInfo
    ScraperTestResult:
      properties:
        scraper_id:
          type: string
          title: Scraper Id
          description: The unique identifier of the scraper used.
        Handler/Actor:
          type: string
          title: Handler/Actor
        URL:
          type: string
          title: Url
        Status:
          type: string
          title: Status
        Duration (s):
          type: string
          title: Duration (S)
        payload_preview:
          anyOf:
          - type: string
          - type: 'null'
          title: Payload Preview
          description: Truncated preview of the result payload
        payload:
          anyOf:
          - type: object
          - type: 'null'
          title: Payload
          description: Full result payload if successful
      type: object
      required:
      - scraper_id
      - Handler/Actor
      - URL
      - Status
      - Duration (s)
      title: ScraperTestResult
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
