openapi: 3.2.0
info:
  title: Parcha Specialized Scraper API
  version: '1.0'
  description: 'Operations tagged SpecializedScraper across 2 of this provider''s published API definitions: parcha-docs-openapi.yaml, parcha-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
tags:
- name: SpecializedScraper
paths:
  /specializedScraper:
    post:
      security:
      - bearerAuth: []
      summary: Scrape using specialized scrapers
      description: Scrape websites using specialized scrapers for LinkedIn, Facebook, Instagram, TikTok, YouTube, Twitter, Reddit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - url
              properties:
                url:
                  type: string
                take_screenshot:
                  type: boolean
                  default: false
                scrape_pdfs:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Scraping successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: object
                  error:
                    type: string
                  scraper_type:
                    type: string
      tags:
      - SpecializedScraper
      operationId: postSpecializedScraper
      x-operation-id-source: derived
    servers:
    - url: https://api.parcha.ai/api/v1
      description: Agent Hub API server
    - url: https://demo.parcha.ai/api/v1
      description: Sandbox API server
    - url: https://us1.parcha.ai/api/v1
      description: Legacy API server
    - url: http://{your-company-domain}.parcha.ai/api/v1
      description: Custom Enterpris server (your company's API server)
  /api/v1/specializedScraper:
    post:
      summary: Specialized Scraper
      description: 'Scrape a website using specialized scrapers (LinkedIn, Facebook, Instagram, TikTok, YouTube, Twitter, Reddit).


        This endpoint uses the ParchaScraper with use_specialized_scrapers=True to fetch structured data

        from supported social media and professional networking sites.'
      operationId: specialized_scraper_api_v1_specializedScraper_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpecializedScraperRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpecializedScraperResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - SpecializedScraper
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    SpecializedScraperResponse:
      properties:
        status:
          type: string
          title: Status
          description: Status of the scraping request (success, error)
        data:
          anyOf:
          - type: object
          - type: 'null'
          title: Data
          description: Scraped data
        error:
          anyOf:
          - type: string
          - type: 'null'
          title: Error
          description: Error message if scraping failed
        scraper_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Scraper Type
          description: Type of scraper used
      type: object
      required:
      - status
      title: SpecializedScraperResponse
      description: Response model for specialized scraper
    SpecializedScraperRequest:
      properties:
        url:
          type: string
          title: Url
          description: URL to scrape
        take_screenshot:
          type: boolean
          title: Take Screenshot
          description: Whether to take a screenshot
          default: false
        scrape_pdfs:
          type: boolean
          title: Scrape Pdfs
          description: Whether to process PDF files
          default: false
      type: object
      required:
      - url
      title: SpecializedScraperRequest
      description: Request model for specialized scraper
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
    HTTPBearer:
      type: http
      scheme: bearer
x-refined-from:
- parcha-docs-openapi.yaml
- parcha-openapi-original.json
