openapi: 3.0.0
info:
  title: Parcha Admin GetFeedbackInputsByKey API
  version: 1.0.0
  description: API for managing Parcha jobs and checks
servers:
- url: https://api.parcha.ai/api/v1
  description: Agent Hub API server
- url: https://demo.parcha.ai/api/v1
  description: Sandbox API server
- url: https://us1.parcha.ai/api/v1
  description: Legacy API server
- url: http://{your-company-domain}.parcha.ai/api/v1
  description: Custom Enterpris server (your company's API server)
security:
- bearerAuth: []
tags:
- name: GetFeedbackInputsByKey
paths:
  /getFeedbackInputsByKey:
    get:
      security:
      - bearerAuth: []
      summary: Get feedback inputs by key
      parameters:
      - name: job_id
        in: query
        required: true
        schema:
          type: string
      - name: key
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Feedback inputs retrieved successfully
      tags:
      - GetFeedbackInputsByKey
  /api/v1/getFeedbackInputsByKey:
    get:
      summary: Get Feedback Inputs By Key
      operationId: get_feedback_inputs_by_key_api_v1_getFeedbackInputsByKey_get
      security:
      - HTTPBearer: []
      parameters:
      - name: job_id
        in: query
        required: true
        schema:
          type: string
          title: Job Id
      - name: key
        in: query
        required: true
        schema:
          type: string
          title: Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - GetFeedbackInputsByKey
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.
