openapi: 3.0.0
info:
  title: Parcha API
  version: 1.0.0
  description: API for managing Parcha jobs and checks

servers:
  - url: https://api.parcha.ai/api/v1
    description: Agent Hub API server
  - url: https://demo.parcha.ai/api/v1
    description: Sandbox API server
  - url: https://us1.parcha.ai/api/v1
    description: Legacy API server
  - url: http://{your-company-domain}.parcha.ai/api/v1
    description: Custom Enterpris server (your company's API server)

security:
  - bearerAuth: []

paths:

  /startKYBAgentJob:
    post:
      security:
        - bearerAuth: []
      summary: Start a KYB agent job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentJobInputKYB'
      responses:
        '200':
          description: Job started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobIdResponse'
        '400':
          description: Invalid input
        '401':
          description: Unauthorized

  /startKYCAgentJob:
    post:
      security:
        - bearerAuth: []
      summary: Start a KYC agent job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentJobInputKYC'
      responses:
        '200':
          description: Job started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobIdResponse'
        '400':
          description: Invalid input
        '401':
          description: Unauthorized

  /getJobById:
    get:
      security:
        - bearerAuth: []
      summary: Get job by ID
      parameters:
        - name: job_id
          in: query
          required: true
          schema:
            type: string
        - name: include_check_result_ids
          in: query
          schema:
            type: boolean
        - name: include_check_results
          in: query
          schema:
            type: boolean
        - name: include_status_messages
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Job retrieved successfully
        '404':
          description: Job not found
        '401':
          description: Unauthorized

  /getJobsByCaseId:
    get:
      security:
        - bearerAuth: []
      summary: Get jobs by case ID
      parameters:
        - name: case_id
          in: query
          required: true
          schema:
            type: string
        - name: agent_key
          in: query
          required: true
          schema:
            type: string
        - name: include_check_results
          in: query
          schema:
            type: boolean
        - name: include_status_messages
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Jobs retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsResponse'
        '401':
          description: Unauthorized


  /runCheck:
    post:
      security:
        - bearerAuth: []
      summary: Run a check
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckJobInput'
      responses:
        '200':
          description: Check started successfully
        '401':
          description: Unauthorized

  /uploadB64Document:
    post:
      security:
        - bearerAuth: []
      summary: Upload base64 document
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadDocumentRequest'
      responses:
        '200':
          description: Document uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResponse'
        '500':
          description: Internal server error

 
  /getFeedbackInputsByKey:
    get:
      security:
        - bearerAuth: []
      summary: Get feedback inputs by key
      parameters:
        - name: job_id
          in: query
          required: true
          schema:
            type: string
        - name: key
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Feedback inputs retrieved successfully

  /sendFeedback:
    post:
      security:
        - bearerAuth: []
      summary: Send feedback
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackInputBase'
      responses:
        '200':
          description: Feedback sent successfully

  /testWebhook:
    post:
      security:
        - bearerAuth: []
      summary: Test webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestWebhookInput'
      responses:
        '200':
          description: Webhook test successful
        '400':
          description: Invalid input

  /testWebhookReceiver:
    post:
      security:
        - bearerAuth: []
      summary: Test webhook receiver
      responses:
        '200':
          description: Webhook received and signature verified
        '400':
          description: Invalid request
        '401':
          description: Invalid signature

  /downloadReport:
    post:
      security:
        - bearerAuth: []
      summary: Download report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportDownloadRequest'
      responses:
        '200':
          description: Report downloaded successfully
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
        '404':
          description: Report not found

  /generateReportToGDrive:
    post:
      security:
        - bearerAuth: []
      summary: Generate report to Google Drive
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportDownloadToGDriveRequest'
      responses:
        '200':
          description: Report generated successfully
        '401':
          description: Unauthorized
        '404':
          description: Report not found

  /generateBulkCaseReports:
    post:
      security:
        - bearerAuth: []
      summary: Generate bulk case reports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkReportRequest'
      responses:
        '200':
          description: Bulk report generation started successfully
        '401':
          description: Unauthorized
        '404':
          description: No cases found

  /exportCSVBatch:
    get:
      security:
        - bearerAuth: []
      summary: Export CSV batch
      parameters:
        - name: batch_id
          in: query
          required: true
          schema:
            type: string
        - name: agent_key
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: CSV exported successfully
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
        '404':
          description: Batch not found

  /getJobBatches:
    get:
      security:
        - bearerAuth: []
      summary: Get job batches
      parameters:
        - name: agent_key
          in: query
          required: true
          schema:
            type: string
        - name: include_signed_urls
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Job batches retrieved successfully
        '401':
          description: Unauthorized

  /getBatchJobs:
    get:
      security:
        - bearerAuth: []
      summary: Get batch jobs
      parameters:
        - name: batch_id
          in: query
          required: true
          schema:
            type: string
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: fetch_pdf_from_gcs
          in: query
          schema:
            type: boolean
        - name: status
          in: query
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Batch jobs retrieved successfully
        '401':
          description: Unauthorized
        '404':
          description: Batch not found

  /enqueueFromCSV:
    post:
      security:
        - bearerAuth: []
      summary: Enqueue jobs from CSV
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                agent_id:
                  type: string
      responses:
        '200':
          description: CSV processed successfully
        '400':
          description: Invalid input
        '401':
          description: Unauthorized

  /runFlashCheck:
    post:
      security:
        - bearerAuth: []
      summary: Run flash check
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckJobInput'
      responses:
        '200':
          description: Flash check completed successfully
        '400':
          description: Invalid input
        '401':
          description: Unauthorized

  /getChecksOverviewData:
    get:
      security:
        - bearerAuth: []
      summary: Get checks overview data
      parameters:
        - name: agent_key
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Checks overview data retrieved successfully
        '400':
          description: No checks overview data found

  /getCheckResultFromJob:
    get:
      security:
        - bearerAuth: []
      summary: Get a specific check result from job
      description: Retrieve the result of a specific check from a job
      parameters:
        - name: job_id
          in: query
          required: true
          schema:
            type: string
          description: The unique identifier of the job
        - name: agent_instance_id
          in: query
          required: true
          schema:
            type: string
          description: The unique identifier of the agent instance
        - name: check_id
          in: query
          required: true
          schema:
            type: string
          description: The unique identifier of the check
        - name: case_type
          in: query
          required: true
          schema:
            type: string
            enum: [kyb, kyc, entity]
          description: The type of the case
        - name: include_status_messages
          in: query
          schema:
            type: boolean
            default: true
          description: Whether to include status messages in the response
      responses:
        '200':
          description: Check result retrieved successfully
        '404':
          description: Job or check result not found
        '403':
          description: Unauthorized access to agent
        '500':
          description: Internal server error

  /getCheckResults:
    get:
      security:
        - bearerAuth: []
      summary: Get check all results for a job
      description: Retrieve all check results for a specific job
      parameters:
        - name: job_id
          in: query
          required: true
          schema:
            type: string
          description: The ID of the job to retrieve check results for
      responses:
        '200':
          description: Check results retrieved successfully
        '401':
          description: Unauthorized
        '404':
          description: Job not found

  /getSourceContents:
    get:
      security:
        - bearerAuth: []
      summary: Get source contents
      description: Retrieve content for specific source IDs
      parameters:
        - name: source_ids
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          description: List of source IDs to retrieve
        - name: agent_instance_id
          in: query
          required: true
          schema:
            type: string
          description: The agent instance ID
      responses:
        '200':
          description: Source contents retrieved successfully
        '500':
          description: Internal server error

  /getAllSources:
    get:
      security:
        - bearerAuth: []
      summary: Get all sources for an agent instance
      description: Retrieve all sources (scanned websites) for a given agent instance
      parameters:
        - name: agent_instance_id
          in: query
          required: true
          schema:
            type: string
            pattern: '^[0-9a-f]{8}[-]?[0-9a-f]{4}[-]?[0-9a-f]{4}[-]?[0-9a-f]{4}[-]?[0-9a-f]{12}$'
          description: The ID of the agent instance (UUID format)
      responses:
        '200':
          description: Sources retrieved successfully
        '500':
          description: Internal server error

  /getJobMetadata:
    get:
      security:
        - bearerAuth: []
      summary: Get job metadata
      description: Retrieve comprehensive metadata for a job
      parameters:
        - name: job_id
          in: query
          required: true
          schema:
            type: string
          description: The ID of the job
      responses:
        '200':
          description: Job metadata retrieved successfully
        '401':
          description: Unauthorized
        '404':
          description: Job not found

  /getJobMetadataByJobId:
    get:
      security:
        - bearerAuth: []
      summary: Get job metadata by job ID
      description: Retrieve comprehensive metadata for a job by its ID
      parameters:
        - name: job_id
          in: query
          required: true
          schema:
            type: string
          description: The ID of the job
      responses:
        '200':
          description: Job metadata retrieved successfully
        '401':
          description: Unauthorized
        '404':
          description: Job not found

  /getJobMetadataByCaseId:
    get:
      security:
        - bearerAuth: []
      summary: Get job metadata by case ID
      description: Retrieve metadata for the latest job associated with a case ID
      parameters:
        - name: case_id
          in: query
          required: true
          schema:
            type: string
          description: The ID of the case
        - name: agent_key
          in: query
          required: true
          schema:
            type: string
          description: The agent key
      responses:
        '200':
          description: Job metadata retrieved successfully
        '401':
          description: Unauthorized
        '404':
          description: No jobs found for case ID

  /getJobStatusSummary:
    get:
      security:
        - bearerAuth: []
      summary: Get job status summary
      description: Get a job's status and a summarized description of its progress
      parameters:
        - name: job_id
          in: query
          required: true
          schema:
            type: string
          description: The ID of the job to summarize
      responses:
        '200':
          description: Job status summary retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  summary:
                    type: string
        '400':
          description: Invalid request
        '404':
          description: Job not found
        '500':
          description: Internal server error

  /getLatestApplicationState:
    get:
      security:
        - bearerAuth: []
      summary: Get latest application state
      description: Retrieve the latest application state for a specific application
      parameters:
        - name: agent_key
          in: query
          required: true
          schema:
            type: string
          description: The agent key
        - name: application_id
          in: query
          required: true
          schema:
            type: string
          description: The ID of the application
      responses:
        '200':
          description: Application state retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationState'

  /getAvailableChecks:
    get:
      security:
        - bearerAuth: []
      summary: Get available checks
      description: Retrieve list of all available checks
      responses:
        '200':
          description: Available checks retrieved successfully

  /getCheckInfo:
    get:
      security:
        - bearerAuth: []
      summary: Get check information
      description: Retrieve detailed information about a specific check
      parameters:
        - name: check_id
          in: query
          required: true
          schema:
            type: string
          description: The ID of the check
      responses:
        '200':
          description: Check information retrieved successfully

  /updateApplicationStatus:
    post:
      security:
        - bearerAuth: []
      summary: Update application status
      description: Update the status of an application
      parameters:
        - name: application_id
          in: query
          required: true
          schema:
            type: string
          description: The ID of the application
        - name: status
          in: query
          required: true
          schema:
            type: string
            enum: [PENDING, IN_PROGRESS, COMPLETE, ERROR]
          description: The new status
      responses:
        '200':
          description: Application status updated successfully

  /mapCsvColumns:
    post:
      security:
        - bearerAuth: []
      summary: Map CSV columns to schema fields
      description: Use AI to intelligently map CSV column names to supported KYC/KYB schema fields
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - agent_type
                - csv_columns
              properties:
                agent_type:
                  type: string
                  enum: [kyc, kyb]
                  description: The type of agent (kyc or kyb)
                csv_columns:
                  type: array
                  items:
                    type: string
                  description: List of column names from the CSV file
                sample_data:
                  type: array
                  items:
                    type: object
                  description: Sample rows from the CSV for context
      responses:
        '200':
          description: CSV columns mapped successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  mappings:
                    type: array
                    items:
                      type: object
                  unmapped_columns:
                    type: array
                    items:
                      type: string
        '400':
          description: Invalid input
        '500':
          description: Mapping failed

  /enqueueFromSource:
    post:
      security:
        - bearerAuth: []
      summary: Enqueue jobs from various sources
      description: Process URL, PDF, CSV, or text to extract companies and enqueue as KYB jobs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - agent_id
                - source_type
                - source_content
              properties:
                agent_id:
                  type: string
                source_type:
                  type: string
                  enum: [url, base64_pdf, base64_csv, text]
                source_content:
                  type: string
                source_name:
                  type: string
                  default: "Unlabeled Source"
                prompt:
                  type: string
      responses:
        '200':
          description: Source processing started successfully
        '400':
          description: Invalid input
        '500':
          description: Processing failed

  /getKybSchemasFromSource:
    post:
      security:
        - bearerAuth: []
      summary: Extract KYB schemas from source
      description: Process various sources and extract companies as KYB schemas without enqueueing jobs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - agent_id
                - source_type
                - source_content
              properties:
                agent_id:
                  type: string
                source_type:
                  type: string
                  enum: [url, base64_pdf, base64_csv, text]
                source_content:
                  type: string
                source_name:
                  type: string
                prompt:
                  type: string
      responses:
        '200':
          description: Schemas extracted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  schemas:
                    type: array
                    items:
                      $ref: '#/components/schemas/ParchaKYBSchema'
        '400':
          description: Invalid input
        '500':
          description: Extraction failed

  /enqueueKybSchemas:
    post:
      security:
        - bearerAuth: []
      summary: Enqueue KYB schemas as jobs
      description: Enqueue a list of pre-extracted KYB schemas as jobs concurrently
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - agent_id
                - schemas
              properties:
                agent_id:
                  type: string
                schemas:
                  type: array
                  items:
                    $ref: '#/components/schemas/ParchaKYBSchema'
                batch_name:
                  type: string
                  default: "KYB Schemas Batch"
      responses:
        '200':
          description: Schemas enqueued successfully
        '400':
          description: Invalid input
        '402':
          description: Insufficient credits
        '500':
          description: Enqueue failed

  /checks:
    get:
      security:
        - bearerAuth: []
      summary: Get available checks with filtering
      description: Get available checks with flexible filtering options
      parameters:
        - name: check_type
          in: query
          schema:
            type: string
            enum: [kyb, kyc, entity]
          description: Optional filter for check type
        - name: check_id
          in: query
          schema:
            type: string
          description: Optional specific check ID to retrieve
      responses:
        '200':
          description: Checks retrieved successfully
        '404':
          description: Check not found
        '500':
          description: Internal server error

  /getThinking:
    get:
      security:
        - bearerAuth: []
      summary: Get thinking for a command instance
      description: Retrieve the thinking/reasoning for a specific command instance
      parameters:
        - name: command_instance_id
          in: query
          required: true
          schema:
            type: string
          description: The ID of the command instance
      responses:
        '200':
          description: Thinking retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  thinking:
                    type: string

  /getAgentCostEstimate:
    get:
      security:
        - bearerAuth: []
      summary: Get agent cost estimate
      description: Calculate the estimated cost in credits for running all checks in an agent
      parameters:
        - name: agent_key
          in: query
          required: true
          schema:
            type: string
          description: The agent key to estimate costs for
      responses:
        '200':
          description: Cost estimate retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_key:
                    type: string
                  total_estimated_cost:
                    type: number
                  check_costs:
                    type: object
                  agent_name:
                    type: string
                  agent_description:
                    type: string
        '404':
          description: Agent not found
        '500':
          description: Cost estimation failed

  /getAgentConfigCostEstimate:
    post:
      security:
        - bearerAuth: []
      summary: Get agent configuration cost estimate
      description: Calculate estimated cost for an agent configuration object (useful for unsaved drafts)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agent_key:
                  type: string
                agent_name:
                  type: string
                agent_description:
                  type: string
                steps:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Cost estimate retrieved successfully
        '500':
          description: Cost estimation failed

  /enrichPerson:
    post:
      security:
        - bearerAuth: []
      summary: Enrich person data
      description: Enrich person data using People Data Labs API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                full_name:
                  type: string
                first_name:
                  type: string
                last_name:
                  type: string
                company:
                  type: string
                location:
                  type: string
                phone:
                  type: string
                profile:
                  type: string
      responses:
        '200':
          description: Person enrichment successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success, error, not_found]
                  data:
                    type: object
                  error:
                    type: string
                  source:
                    type: string
        '500':
          description: Enrichment failed

  /enrichCompany:
    post:
      security:
        - bearerAuth: []
      summary: Enrich company data
      description: Enrich company data using People Data Labs API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                website:
                  type: string
                ticker:
                  type: string
                profile:
                  type: string
      responses:
        '200':
          description: Company enrichment successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success, error, not_found]
                  data:
                    type: object
                  error:
                    type: string
                  source:
                    type: string
        '500':
          description: Enrichment failed

  /specializedScraper:
    post:
      security:
        - bearerAuth: []
      summary: Scrape using specialized scrapers
      description: Scrape websites using specialized scrapers for LinkedIn, Facebook, Instagram, TikTok, YouTube, Twitter, Reddit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - url
              properties:
                url:
                  type: string
                take_screenshot:
                  type: boolean
                  default: false
                scrape_pdfs:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Scraping successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: object
                  error:
                    type: string
                  scraper_type:
                    type: string

  /agent/config:
    get:
      security:
        - bearerAuth: []
      summary: Get agent configuration
      description: Get the complete agent information including config by its key with visibility metadata
      parameters:
        - name: agent_key
          in: query
          required: true
          schema:
            type: string
          description: The agent key
      responses:
        '200':
          description: Agent configuration retrieved successfully
        '404':
          description: Agent not found
        '500':
          description: Failed to get agent

  /agent-schemas/{agent_key}:
    get:
      security:
        - bearerAuth: []
      summary: Get agent schemas
      description: Get the schema information for all checks in an agent
      parameters:
        - name: agent_key
          in: path
          required: true
          schema:
            type: string
          description: The agent key
      responses:
        '200':
          description: Agent schemas retrieved successfully
        '404':
          description: Agent not found
        '500':
          description: Failed to retrieve schemas

  /startPersonaKYBJob:
    post:
      security:
        - bearerAuth: []
      summary: Start a Persona KYB job
      parameters:
        - name: account_id
          in: query
          required: true
          schema:
            type: string
        - name: agent_key
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - kyb_schema
              properties:
                kyb_schema:
                  $ref: '#/components/schemas/ParchaKYBSchema'
      responses:
        '200':
          description: Job started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobIdResponse'
        '500':
          description: Internal server error
        '404':
          description: KYB schema not found

  /startPersonaKYCJob:
    post:
      security:
        - bearerAuth: []
      summary: Start a Persona KYC job
      parameters:
        - name: account_id
          in: query
          required: true
          schema:
            type: string
        - name: agent_key
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - kyc_schema
              properties:
                kyc_schema:
                  $ref: '#/components/schemas/ParchaKYCSchema'
      responses:
        '200':
          description: Job started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobIdResponse'
        '500':
          description: Internal server error
        '404':
          description: KYC schema not found

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from your Parcha account settings. Include as Bearer token in the Authorization header.

  schemas:
    Funds:
      type: object
      properties:
        amount:
          type: number
          format: float
          description: The amount of a given currency
        currency:
          type: string
          pattern: "^[A-Z]{3}$"
          description: The currency in ISO 4217 format
          default: USD

    Asset:
      type: object
      properties:
        name:
          type: string
          description: The name of the asset (e.g. COIN)
        count:
          type: integer
          description: The number of assets
        price_per_asset:
          $ref: '#/components/schemas/Funds'

    JobIdResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok, failed, mock_success]
        job_id:
          type: string
          nullable: true
        message:
          type: string
        job:
          type: object
          nullable: true

    JobsResponse:
      type: object
      properties:
        jobs:
          type: array
          items:
            type: object
        count:
          type: integer

    DocumentResponse:
      type: object
      properties:
        url:
          type: string
          description: Presigned URL for the document
        expiration:
          type: string
          format: date-time
          description: The expiration date and time (in UTC)

    UploadDocumentRequest:
      type: object
      required:
        - b64_document
        - document_name
      properties:
        b64_document:
          type: string
          description: Base64 encoded document
        document_name:
          type: string
          description: Name of the document

    TestWebhookInput:
      type: object
      properties:
        webhook_url:
          type: string
        tool_webhook_url:
          type: string
        tool_webhook_ids:
          type: array
          items:
            type: string

    ReportDownloadRequest:
      type: object
      required:
        - case_id
        - agent_key
      properties:
        case_id:
          type: string
          description: The unique identifier of the case
        agent_key:
          type: string
          description: The key of the agent to use for generating the report
        force_refresh_report:
          type: boolean
          default: false
          description: If true, forces regeneration of the report even if cached
        download_test_report:
          type: boolean
          default: false
          description: If true, returns a placeholder test report (useful for testing the endpoint)
        report_version:
          type: string
          enum: ["v1", "v2"]
          default: "v1"
          description: The report version to use. Use "v2" for the latest Parcha 2.0 report format with enhanced styling and layout.

    ReportDownloadToGDriveRequest:
      type: object
      required:
        - job_id
      properties:
        job_id:
          type: string

    BulkReportRequest:
      type: object
      required:
        - agent_key
        - password
      properties:
        agent_key:
          type: string
        batch_id:
          type: string
        password:
          type: string

    ToolEvalRequest:
      type: object
      required:
        - tool_id
        - dataset_name
      properties:
        tool_id:
          type: string
        dataset_name:
          type: string
        llm_name:
          type: string
        project_name:
          type: string
        head:
          type: integer
        multi_region_enabled:
          type: boolean
        label:
          type: string
        sample_size:
          type: integer
        rate_limit_per_minute:
          type: integer
        tool_args:
          type: object

    DatasetArgs:
      type: object
      required:
        - dataset_name
      properties:
        dataset_name:
          type: string
        new_dataset_name:
          type: string
        project_name:
          type: string
        head:
          type: integer
        sample_size:
          type: integer

    CheckEvalRequest:
      type: object
      required:
        - agent_key
        - check_id
        - dataset
      properties:
        agent_key:
          type: string
        check_id:
          type: string
        dataset:
          $ref: '#/components/schemas/DatasetArgs'
        check_args:
          type: object

    ClearCacheRequest:
      type: object
      properties:
        key_prefix:
          type: string

    AgentConfigCacheRequest:
      type: object
      properties:
        agent_key:
          type: string

    Address:
      type: object
      properties:
        street_1:
          type: string
          description: Primary street address line
        street_2:
          type: string
          description: Secondary street address line (optional)
        city:
          type: string
          description: City name
        state:
          type: string
          description: State/province code
        country_code:
          type: string
          description: Two-letter ISO country code (e.g., "US", "GB")
        postal_code:
          type: string
          description: Postal/ZIP code

    SelfAttestedData:
      type: object
      properties:
        business_name:
          type: string
          description: The name of the business
          maxLength: 64
        registered_business_name:
          type: string
          description: The registered name of the business
          maxLength: 64
        address_of_incorporation:
          $ref: '#/components/schemas/Address'
        address_of_operation:
          $ref: '#/components/schemas/Address'
        website:
          type: string
          description: The business website URL
        business_purpose:
          type: string
          description: The purpose of the business
        description:
          type: string
          description: Business description
          maxLength: 512
        industry:
          type: string
          description: The industry the business operates in
        tin_number:
          type: string
          description: Tax Identification Number
        incorporation_date:
          type: string
          format: date
          description: Date of incorporation
        partners:
          type: array
          items:
            type: string
          description: List of business partners
        customers:
          type: array
          items:
            type: string
          description: List of customers
        source_of_funds:
          type: array
          items:
            type: string
          description: List of funding sources
        incorporation_documents:
          type: array
          items:
            type: object
            properties:
              b64_document:
                type: string
                description: Base64 encoded document content
              file_name:
                type: string
                description: Name of the document file
              source_type:
                type: string
                description: Source type of the document
        business_ownership_documents:
          type: array
          items:
            type: object
            properties:
              b64_document:
                type: string
                description: Base64 encoded document content
              file_name:
                type: string
                description: Name of the document file
              source_type:
                type: string
                description: Source type of the document
        proof_of_address_documents:
          type: array
          items:
            type: object
            properties:
              b64_document:
                type: string
                description: Base64 encoded document content
              file_name:
                type: string
                description: Name of the document file
              source_type:
                type: string
                description: Source type of the document
        source_of_funds_documents:
          type: array
          items:
            type: object
            properties:
              b64_document:
                type: string
                description: Base64 encoded document content
              file_name:
                type: string
                description: Name of the document file
              source_type:
                type: string
                description: Source type of the document
        ein_documents:
          type: array
          items:
            type: object
            properties:
              b64_document:
                type: string
                description: Base64 encoded document content
              file_name:
                type: string
                description: Name of the document file
              source_type:
                type: string
                description: Source type of the document
        cannabis_license_documents:
          type: array
          items:
            type: object
            properties:
              b64_document:
                type: string
                description: Base64 encoded document content
              file_name:
                type: string
                description: Name of the document file
              source_type:
                type: string
                description: Source type of the document

    KYCSelfAttestedData:
      type: object
      properties:
        first_name:
          type: string
          description: The first name of the individual
        middle_name:
          type: string
          description: The middle name of the individual
        last_name:
          type: string
          description: The last name of the individual
        name_prefix:
          type: string
          description: The prefix of the individual
        name_suffix:
          type: string
          description: The suffix of the individual
        date_of_birth:
          type: string
          format: date
          description: The date of birth of the individual, format YYYY-MM-DD
        address:
          $ref: '#/components/schemas/Address'
        associated_addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
          description: The associated addresses of the individual
        country_of_nationality:
          type: string
          description: The country of nationality of the individual
        country_of_residence:
          type: string
          description: The country of residence of the individual
        place_of_birth:
          type: string
          description: The place of birth of the individual
        sex:
          type: string
          description: The sex of the individual
        email:
          type: string
          format: email
          description: The email of the individual
        phone:
          type: string
          description: The phone number of the individual
        title:
          type: string
          description: The title of the individual
        is_applicant:
          type: boolean
          description: Whether this individual is the applicant
        is_business_owner:
          type: boolean
          description: Whether this individual is a business owner
        business_ownership_percentage:
          type: number
          description: The percentage of business ownership
        proof_of_address_documents:
          type: array
          items:
            type: object
            properties:
              b64_document:
                type: string
                description: Base64 encoded document content
              file_name:
                type: string
                description: Name of the document file
              source_type:
                type: string
                description: Source type of the document
        source_of_funds_documents:
          type: array
          items:
            type: object
            properties:
              b64_document:
                type: string
                description: Base64 encoded document content
              file_name:
                type: string
                description: Name of the document file
              source_type:
                type: string
                description: Source type of the document

    ParchaKYBSchema:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: A unique id specific to the account being analyzed
        self_attested_data:
          $ref: '#/components/schemas/SelfAttestedData'
        external_validation_data:
          type: object
          description: External validation data for the business
        research_data:
          type: object
          description: Web research data for the business
        associated_individuals:
          type: array
          items:
            $ref: '#/components/schemas/ParchaKYCSchema'
          description: List of associated individuals
        associated_entities:
          type: array
          items:
            type: object
            properties:
              self_attested_data:
                type: object
                properties:
                  business_name:
                    type: string
                  business_ownership_percentage:
                    type: number
                  is_business_owner:
                    type: boolean
          description: List of associated entities

    ParchaKYCSchema:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: A unique id specific to the account being analyzed
        self_attested_data:
          $ref: '#/components/schemas/KYCSelfAttestedData'

    AgentJobInput:
      type: object
      required:
        - agent_key
        - payload
      properties:
        agent_key:
          type: string
          description: The unique identifier for the agent
        check_ids:
          type: array
          items:
            type: string
          description: The check IDs to run (runs all checks in agent configuration if not provided)

    AgentJobInputKYB:
      allOf:
        - $ref: '#/components/schemas/AgentJobInput'
        - type: object
          properties:
            kyb_schema:
              $ref: '#/components/schemas/ParchaKYBSchema'

    AgentJobInputKYC:
      allOf:
        - $ref: '#/components/schemas/AgentJobInput'
        - type: object
          properties:
            kyc_schema:
              $ref: '#/components/schemas/ParchaKYCSchema'

    CheckJobInput:
      type: object
      required:
        - agent_key
        - check_id
        - case_id
        - case_type
      properties:
        agent_key:
          type: string
          description: The unique identifier for the agent
        check_id:
          type: string
          description: The ID of the check to run
        case_id:
          type: string
          description: The ID of the case
        case_type:
          type: string
          enum: [kyb, kyc, entity]
          description: The type of case
        check_args:
          type: object
          description: Additional arguments for the check

    ApplicationState:
      type: object
      required:
        - self_attested_data
        - applicant_id
        - applicant_type
        - application_status
        - updated_at
      properties:
        self_attested_data:
          oneOf:
            - $ref: '#/components/schemas/BusinessCaseSchema'
            - $ref: '#/components/schemas/IndividualCaseSchema'
        applicant_id:
          type: string
          description: The ID of the applicant
        applicant_type:
          type: string
          enum: [kyb, kyc, entity]
          description: The type of applicant
        application_status:
          type: string
          enum: [PENDING, IN_PROGRESS, COMPLETE, ERROR]
          description: The current status of the application
        current_check_results:
          type: array
          items:
            $ref: '#/components/schemas/CheckResult'
          description: Current check results
        past_check_results:
          type: array
          items:
            $ref: '#/components/schemas/CheckResult'
          description: Past check results
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    BusinessCaseSchema:
      type: object
      required:
        - business_name
      properties:
        business_name:
          type: string
          description: The name of the business
        registered_business_name:
          type: string
          description: The registered name of the business
        address_of_incorporation:
          $ref: '#/components/schemas/Address'
        address_of_operation:
          $ref: '#/components/schemas/Address'
        website:
          type: string
          description: The business website URL
        business_purpose:
          type: string
          description: The purpose of the business
        description:
          type: string
          description: Business description
        industry:
          type: string
          description: The industry the business operates in
        tin_number:
          type: string
          description: Tax Identification Number
        incorporation_date:
          type: string
          format: date
          description: Date of incorporation

    IndividualCaseSchema:
      type: object
      required:
        - first_name
        - last_name
      properties:
        first_name:
          type: string
          description: The first name of the individual
        middle_name:
          type: string
          description: The middle name of the individual
        last_name:
          type: string
          description: The last name of the individual
        date_of_birth:
          type: string
          format: date
          description: The date of birth of the individual
        address:
          $ref: '#/components/schemas/Address'
        country_of_nationality:
          type: string
          description: The country of nationality of the individual
        country_of_residence:
          type: string
          description: The country of residence of the individual
        email:
          type: string
          format: email
          description: The email of the individual
        phone:
          type: string
          description: The phone number of the individual

    CheckResult:
      type: object
      required:
        - check_id
        - status
      properties:
        check_id:
          type: string
          description: The ID of the check
        status:
          type: string
          enum: [PENDING, IN_PROGRESS, COMPLETE, ERROR]
          description: The status of the check
        result:
          type: object
          description: The result of the check
        error:
          type: string
          description: Error message if the check failed
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp

    FeedbackInputBase:
      type: object
      required:
        - jobId
        - key
      properties:
        jobId:
          type: string
          description: The ID of the job
        key:
          type: string
          description: The feedback key identifier
        comment:
          type: string
          description: Optional comment
        value:
          type: string
          description: The feedback value
        score:
          type: number
          description: Optional numeric score
        row_id:
          type: string
          description: Optional row identifier
